<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js" charset="utf-8"></script>
<style type="text/css">

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.line {
		fill: none;
		stroke: steelblue;
		stroke-width: 1.5px;
	}

	.axis text {
		fill:black;
		shape-rendering: crispEdges;
	}

	rect {
		opacity : 0.95;
		fill : #83d8ff;
	}

	path {
		stroke: #00a0e9;
		opacity : 0.95;
	}

	path.linechart {
		stroke-width : 2;
	}

	circle {
		fill: white;
		stroke: #00a0e9;
		stroke-width : 2;
		opacity : 0.95;
	}

	.tick line {
		opacity: 0.2;
	}

	.y1.axis line,
	.y1.axis path{
		stroke : #83d8ff;
	}
	.y2.axis line,
	.y2.axis path{
		stroke: #00a0e9;
	}
	.tooltip {
		border: 1px solid #eee;
		background-color: #fff;
		padding: 8px 8px 0 8px;
		border-radius: 3px;
		color : #222;
		font-size: 120%;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.tooltip dt {
		background: #ddd;
		border-radius: 3px;
	}
	.tooltip dd {
		text-align: center;
	}
	detailDataDiv {
    	top: 0;
    }
</style>
<version>Loading....</version>
<div id="graph" />
<div id="radioDiv">
  <input type="radio" id="radioDay" name="graphType" value="day" checked="checked"/><label for="radioDay">日別</label>
  <input type="radio" id="radioTotal" name="graphType" value="total" /><label for="radioTotal">合計</label>
  <input type="radio" id="radioBugRate" name="graphType" value="bugrate" /><label for="radioBugRate">バグ数/時間</label>
  <input type="radio" id="radioTimeRate" name="graphType" value="timerate" /><label for="radioTimeRate">時間/バグ数</label>
</div>
<script src="/js/ticket/barline.js"></script>
<script>
	$(document).ready(function() {
		$.ajax({
			type:"POST",
			url: '/bugversion/99999'
		}).then(
			function (data) {
				DrawBarLine(data.bug);
			},
			function () {
				alert("読み込み失敗");
			}
		);
	});
</script>

<script>
	System.config({
		map: {
        rxjs: 'node_modules/rxjs' // added this map section
    },
    packages: {
    	app: {
    		format: 'register',
    		defaultExtension: 'js'
    	},
          'rxjs': {defaultExtension: 'js'} // and added this to packages
      }
  });
	System.import('/app/compornents/version/main')
	.then(null, console.error.bind(console));
</script>