<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div id="sb-site">
	<div id="maincontents" class="container">
		<div class="row">
			<div id="content" class="col-xs-12 col-sm-9">
				<testver>Loading....</testver>
				<div id="graph"></div>
			</div>
		</div>

		<footer>
			<div class="row">
				<div class="col-xs-12">
				</div>
			</div>
		</footer>

	</div>
</div>
<script src="/js/ticket/circle.js"></script>

<script>
	System.config({
		map: {
        rxjs: 'node_modules/rxjs' // added this map section
    },
    packages: {
    	app: {
    		format: 'register',
    		defaultExtension: 'js'
    	},
          'rxjs': {defaultExtension: 'js'} // and added this to packages
      }
  });
	System.import('/app/compornents/testver/main')
	.then(null, console.error.bind(console));
</script>

  <script>
    (function($) {
      $(document).ready(function() {

		$.ajax({
    		type:"POST",
    		url: '/tracker'
		}).then(
		    function (data) {
				drawPie(data);
    		},
		    function () {
   				alert("読み込み失敗");
			});
      });
    }) (jQuery);
  </script>