<!DOCTYPE html>
<html class="sb-init">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slidebars/0.10.2/slidebars.css">
  <link rel="stylesheet" href="/styles/importer.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slidebars/0.10.2/slidebars.js"></script>

  <script src="/node_modules/systemjs/dist/system-polyfills.js"></script>
  <script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>
  <script src="/node_modules/systemjs/dist/system.src.js"></script>
  <script src="/node_modules/rxjs/bundles/Rx.js"></script>
  <script src="/node_modules/angular2/bundles/angular2.dev.js"></script>
  <script src="/node_modules/angular2/bundles/http.dev.js"></script>

  <nav class="navbar navbar-default navbar-fixed-top sb-slide" role="navigation">

    <div class="sb-toggle-left navbar-left">
      <div class="navicon-line"></div>
      <div class="navicon-line"></div>
      <div class="navicon-line"></div>
    </div>

    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Download</a>
        </li>
        <li>
          <a href="#">Usage</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="sb-slidebar sb-left">
    <nav>
      <ul class="sb-menu">
        <li>
        </li>
        <li class="sb-close">
          <a href="overview">概要</a>
        </li>
        <li class="sb-close">
          <a href="/tracker/testver">バージョン別トラッカー</a>
        </li>
        <li class="sb-close">
          <a href="#">Usage</a>
        </li>
        <li class="sb-close">
          <a href="#">Git</a>
        </li>
        <li class="sb-close">
          <a href="#">その他</a>
        </li>
        <li class="sb-close">
          <small>Sample Text</small>
        </li>
      </ul>
    </nav>
  </div>
  <script>
    (function($) {
      $(document).ready(function() {
        $.slidebars();
      });
    }) (jQuery);
  </script>

  <%- body %>

  <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>

</body>
</html>
