<!DOCTYPE html>
<html class="sb-init">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="styles/importer.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <script src="/node_modules/systemjs/dist/system-polyfills.js"></script>
  <script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>
  <script src="/node_modules/systemjs/dist/system.src.js"></script>
  <script src="/node_modules/rxjs/bundles/Rx.js"></script>
  <script src="/node_modules/angular2/bundles/angular2.dev.js"></script>
  <script src="/node_modules/angular2/bundles/http.dev.js"></script>

</head>
<header>
  <nav>
    <ul class="left">
      <li>
        <a href="#!" onclick="$('.button-collapse').sideNav('show');">
          <i class="material-icons" >menu</i>
        </a>
      </li>
    </ul>
    <ul class="right">
      <li><a href="circle">トラッカー別</a></li>
      <li><a href="stacked">活動時間</a></li>
      <li><a href="line">コミット数</a></li>
      <li><a href="scatter">割合</a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
      <li><a href="circle">トラッカー別</a></li>
      <li><a href="stacked">活動時間</a></li>
      <li><a href="line">コミット数</a></li>
      <li><a href="scatter">割合</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>
</header>
<script>
  $(document).ready(function() {
   $('.button-collapse').sideNav({
        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
      }
      );
 });
</script>

<%- body %>

<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
</body>
</html>
