<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.js" charset="utf-8"></script>

<activity>Loading....</activity>

<div id="graph"></div>

<script src="/js/ticket/scatter.js"></script>

<script>
  System.config({
    map: {
        rxjs: 'node_modules/rxjs' // added this map section
    },
    packages: {
      app: {
        format: 'register',
        defaultExtension: 'js'
      },
          'rxjs': {defaultExtension: 'js'} // and added this to packages
      }
  });
  System.import('/app/compornents/activity/main')
  .then(null, console.error.bind(console));
</script>

<script>
  (function($) {
    $(document).ready(function() {
      $.ajax({
        type:"POST",
        url: '/allactivity'
      }).then(
        function (data) {
          drawScatterChart(data.activity, "開発作業", "テスト");
        },
        function () {
          alert("読み込み失敗");
        }
      );
    });
  }) (jQuery);
</script>