<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div id="sb-site">
	<div class="container">
		<div class="row">
			<div id="content" class="col-xs-12 col-sm-9">
				<div id="graph"></div>
			</div>
		</div>

		<footer>
			<div class="row">
				<div class="col-xs-12">
				</div>
			</div>
		</footer>
	</div>
</div>

<script src="/js/ticket/stacked.js"></script>
