html {
    height: 100%;
}

body {
    height: 100%;
}

header {
	height: 50px;
	background-color: #3c8dbc;
}

div#left {
	width: 200px;
	height: ~"calc(100% - 50px)";
	background-color: #1a2226;
	float: left;
}

div#left menu {
	width: 100%;
	height: auto;
	background-color: #1a2226;
}

div#right {
	background-color: #ecf0f5;
	width: ~"calc(100% - 200px)";
	height: ~"calc(100% - 50px)";
	float: left;
}

div#graph {
	margin: 30px 30px 30px 30px;
	width: ~"calc(100% - 60px)";
	height: ~"calc(100% - 60px)";
	background-color: #ffffff;
}

.clearfix {
	clear: both;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;

  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;

  /* IEサポート */
  font-feature-settings: 'liga';
}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

div#area {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

div#choose {
  top: 0px;
  width: 100%;
}


div#graphspace {
	width: 100%;
	height: 100%;
	background-color: #fefefe;
}