html, body {
	background-color: #ffffff;
}

#graph {
	background-color: #ffffff;
}

footer {
	margin-top: 30px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    line-height: 64px;
    height: 64px;
}

/* Anchor Links */
#download, #api, #options, #helper-classes {
	margin-top: -50px;
	padding-top: 50px;
}

/* Helper Classes */
.add-bottom-margin {
	margin-bottom: 15px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.add-top-margin {
	margin-top: 15px;
}

.no-top-margin {
	margin-top: 0;
}

.push-down {
	position: relative;
	top: 2px;
}

@media (min-width: 768px) {
	ul.navbar-nav {
		display: block;
	}

	#logo {
		text-align: left;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

.img-responsive-stretch {
	display: block;
	width: 100%;
	height: auto;
}

.container {
	width: 100%;
	padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

select {
	display: inherit;
}

.charttile {
	width: 400px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

circle {
    fill: steelblue;
}